<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @what_should_avoid.content %>
</p>

<%= link_to 'Edit', edit_what_should_avoid_path(@what_should_avoid) %> |
<%= link_to 'Back', what_should_avoids_path %>
