<div class="photo"><a class="th [radius]" href="#"><div class="avatar"><img src="/wall.jpg"></div></a></div>
<div class="main">
	
    <div data-magellan-expedition="fixed" class="blogbar"> 
      <dl class="sub-nav"> 
        <dd data-magellan-arrival="build">
          <a href="#build">Algorithms</a>
        </dd> 
        <dd data-magellan-arrival="js">
          <a href="#js">Mathematics</a>
        </dd> 
        <dd data-magellan-arrival="js">
          <a href="#js">A day in life</a>
        </dd>
      </dl> 
    </div>
    
    <div>

    </div>
</div>